.classpath
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.project
.settings
.vscode
*~
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
# JStructuredTree
bin
build
buildNumber.properties
dependency-reduced-pom.xml
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
release.properties
target
target/
